*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
.sidenav {
    height:100%;
    width:160px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
}
html, body {
    min-height: 100%;
    }